@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}
.background {
  background: #E5E5E5;
}
.rooh {
  height: 170px;
  width: 100%;
  background-color: #ffffff;
}

.rooh-itens{
  width: 1350px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo img {
  width: 33px;
  height: 33px;
}

.logo h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36.34px;
  color: #C92071;
  padding-left: 8px;
}

.btn-pesquisa {
  width: 603.72px;
  height: 64.8px;
  display: flex;
  align-items: center;
}

.btn-pesquisa form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 1px 1px 6px #0000001c;
  padding: 0.8rem 1.2rem;
  border-radius: 8.64px;
  background-color: #f5f1f175;
  
}

.btn-pesquisa input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-cadastro {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-cadastro a, .btn-cadastro a:visited {
  font-size: 17.28px;
  font-weight: 400px;
  color: #474747;
  padding-left: 0.5rem;
}

.btn-cadastro a:hover {
  color: #807d7d;
}

.btn-cadastro button {
  font-size: 14px;
  font-weight: 700;
  background-color: #C92071;
  border-radius: 8px;
  height: 43.2px;
  width: 123.1px;
  border: none;
  cursor: pointer;
}

.btn-cadastro button a, .cadastro button a:visited {
  color: #F5F5F5;
  text-decoration: none;  
}

.btn-cadastro button:hover {
  background-color: #ee3a91;
}

.btn-carrinho {
 text-decoration: none;
}
.itens-rooh {
   width: 1350px;
   height: 40px;
   margin: 0 auto;
 }
 
 .itens-rooh ul {
   width: 500px;
   height: 90px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
 }
 
 .itens-rooh li a, .itens-rooh li a:visited {
   text-decoration: none;
   color: #474747;;
   font-size: 17.28px;
   font-weight: 700;
 }
 
 .itens-rooh li a:hover {
   color: #EE4266;
   text-decoration: underline;
 }

 .container {
   width: 100%;
   height: 500px;
   display: flex; 
   justify-content: center;  
   padding-right: 30px;
 }
 
 .itens-container {
   width: 500px;
   height: 425px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-top: 30px;
   margin-left:15px;
 }
 .itens-container span {
   font-size: 16px;
   font-weight: 700;
   color: #F6AA1C;
 }
 
 .itens-container h1 {
   font-size: 55px;
   font-weight: 800;
   color: #1F1F1F;
 }
 
 .itens-container p {
   font-size: 18px;
   font-weight: 400;
   color: #474747;
 }
 
 .itens-container a, .itens-container a:visited {
   width: 220px;
   height: 48px;
   text-decoration: none;
   background-color: #C92071;
   border-radius: 8px;  
   display: flex;
   justify-content: center;
 }
 
 .itens-container button {
   background-color: #C92071;
   border: none;
   color: #F5F5F5;
   font-size: 16px;
   font-weight: 700;
   cursor: pointer;
 }
 
 .itens-container button:hover {
   color: #dad8d8;
 }
 
 .img-sapato img {
   width: 700px;
   height: 500px;
   transform: rotate(-6deg);
   margin-left: 0;
   margin-top: 0;
 }
 
 .container .img-bolinhas {
   position: relative;
   left: -80px;
   top: 25px;
 }
 label{
  display: flex;
  flex-direction: row;

 }
 
 .the-render{
  display: flex;
  justify-content: center;

}
 
 .itens-footer {
   background-color: #1F1F1F;
   color: #ffffff;
   width: 100%;
   height: 500px;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 
 .footer-sobre {
   width: 450px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }
 
 .logo-brnaca {
   display: flex;
   gap: 5px;
   cursor: pointer;
 }
 
 .redes-footer{
   height: 100px;
   display: flex;
   gap: 20px; 
 }
 
 .infor-footer {
   width: 300px;
   height: 320px;
   display: flex;
   justify-content: space-between;  
 }
 
 .footer-title { 
   font-size: 20px;
   font-weight: 700;
 }
 
 .contato-footer {
   width: 200px;
   height: 320px;
   padding-top: 15px;
 }
 
 .contato-footer p {
   padding-top: 15px;
 }
 
 .footer-text {
   cursor: pointer;
   padding-top: 20px;
 }
 
 
 .footer-status {
   padding: 12px;
   text-align: center;
   border-top: 1px solid #ffffff;
   background-color: #1F1F1F;
   color: #ffffff;
  
 }
 